<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- HEADER -->
    <div class="header">
        <div class="logo">My Shop</div>

        <div class="searchbar"  id="searchbar">
            <input type="text" placeholder="Search products..." />
        </div>

        <div class="right">
            <div class="favorite"><a href="/favorite">Favorite</a></div>
            <div class="logout"><a href="/logout">Logout</a></div>
            <div class="profile"><a href="/profile">Profile</a></div>
        </div>
    </div>

    <!-- LAYOUT -->
    <div class="layout">

        <!-- SIDEBAR -->
        <div class="sidebar">

            <div class="top">
                <div class="home" id="sidebar-home">Home</div>
                <div class="favorite" id="sidebar-favorite">Favorite</div>
                <div class="profile" id="sidebar-profile">Profile</div>
                {% if user.user_type == 's' %}
                <div class="my_product" id="sidebar-myproduct">My Product</div>
                {% endif %}
                <div class="filter">Filter</div>
            </div>
            <div class="logout" id="sidebar-logout">Logout</div>
        </div>

        <!-- MAIN -->
        <div class="main">
            <h2>Products</h2>

            {% if products %}
            <div class="products">
                {% for product in products %}
                <div class="product-card">

                    <img src="{{ url_for('static', filename='uploads/' + product.product_image) }}">

                    <p><strong>Name:</strong> {{ product.product_name }}</p>
                    <p><strong>Price:</strong> ₹{{ product.product_price }}</p>
                    <p><strong>Details:</strong> {{ product.product_details }}</p>
                    <p><strong>Category:</strong> {{ product.product_category }}</p>
                    <p><strong>Gender:</strong> {{ product.product_gender }}</p>
                    <p><strong>Stock:</strong> {{ product.product_stock }}</p>
                    <p><strong>Seller ID:</strong> {{ product.seller_id }}</p>
                    <p><strong>Product ID:</strong> {{ product.id }}</p>
                    <input type="checkbox" class="like-checkbox" data-product-id="{{ product.id }}" 
                    {% if product.id in liked_products %}
                        checked 
                    {% endif %}>

                    <div class="buybutton">
                        <a href="{{ url_for('buyButton', product_id=product.id) }}">buy</a>
                    </div>

                </div>
                {% endfor %}
            </div>
            {% endif %}



        </div>
    </div>

    <!-- DELETE CONFIRM -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const forms = document.querySelectorAll('.delete-form');
            forms.forEach(form => {
                form.addEventListener('submit', function (e) {
                    if (!confirm('Are you sure you want to delete this product?')) {
                        e.preventDefault();
                    }
                });
            });
        });


        const homebtn = document.getElementById('sidebar-home')
        homebtn.addEventListener('click', () => {
            window.location.href = '/home';
        });

        const favoritebtn = document.getElementById('sidebar-favorite');
        favoritebtn.addEventListener('click', () => {
            window.location.href = '/favorite';
        });

        const profilebtn = document.getElementById('sidebar-profile');
        profilebtn.addEventListener('click', () => {
            window.location.href = '/profile';
        })

        const logoutbtn = document.getElementById('sidebar-logout');
        logoutbtn.addEventListener('click', () => {
            window.location.href = '/logout'
        })

        const myproductbtn = document.getElementById('sidebar-myproduct');
        if(myproductbtn){
            myproductbtn.addEventListener('click', () => {
                window.location.href = '/myproduct'
            })
        }

        const searchbar = document.getElementById('searchbar');
        searchbar.addEventListener('click', ()=> {
            window.location.href = '/search'
        })

    </script>

</body>

<script>
    document.querySelectorAll('.like-checkbox').forEach(box => {
        box.addEventListener('change', function () {
            fetch('/like', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    product_id: this.dataset.productId,
                    liked: this.checked
                })
            })
                .then(res => res.json())
                .then(data => {
                    console.log(data.status);
                });

        });
    });

</script>

</html>