<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h2>User Login</h2>

    <form  method="post">
        {{  form.hidden_tag()  }}

        {{  form.username.label  }} <br>
        {{  form.username  }} <br> <br>

        {{  form.password.label  }} <br>
        {{  form.password  }} <br> <br>

        {{ form.submit}} <br>
    </form>

    <br>
    <a href="/forgotpassword">forgot password</a>



    <br>
    <br>
    <div>
        <h3>doesn't have username  :--- <a href="/register">register first</a></h3>

    </div>
    
</body>
</html>