<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register user</title>
</head>
<body>
    <h2>User Registration</h2>

    <form  method="post">
        {{  form.hidden_tag()  }}

        {{  form.user_type.label  }} <br>
        {{  form.user_type  }} <br> <br>

        {{  form.username.label  }} <br>
        {{  form.username  }} <br> <br>

        {{  form.password.label  }} <br>
        {{  form.password  }} <br> <br>

        {{ form.submit}} <br>
    </form>
</body>
</html>