<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>buy</title>
</head>
<body>
    <!-- {{ product_id  }} -->
    
        <div style="border: 1px solid #ccc; padding: 15px; width: 260px; margin: 15px;">
            
            <img 
                src="{{ url_for('static', filename='uploads/' + product.product_image) }}"
                style="width: 100%; height: auto; margin-bottom: 10px;"
            >
            
            <p><strong>Name:</strong> {{ product.product_name }}</p>
            <p><strong>Price:</strong> ₹{{ product.product_price }}</p>
            <p><strong>Details:</strong> {{ product.product_details }}</p>
            <p><strong>Category:</strong> {{ product.product_category }}</p>
            <p><strong>Gender:</strong> {{ product.product_gender }}</p>
            <p><strong>Stock:</strong> {{ product.product_stock }}</p>
            <p><strong>Seller ID:</strong> {{ product.seller_id }}</p>
            
        </div>

        <h1><a href="{{ url_for('payment.payment', product_price=product.product_price) }}">BUY NOW</a></h1>
   
</body>
</html>