<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if error %}
    <!-- <h1>{{error}}</h1> -->
    <h1>we doesn't have this type of product </h1>
    {% endif %}
    
    
    {% if status %}
    <h1>this product is block temporary </h1>
    {%  endif %}

    <h1><a href="{{  url_for('home.home')  }}">find other products here</a> </h1>
</body>

</html>