<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- HEADER -->
    <div class="header">
        <div class="logo">My Shop</div>

        <div class="searchbar" id="searchbar">
            <input type="text" placeholder="Search products..." />
        </div>

        <div class="right">
            <div class="favorite"><a href="/favorite">Favorite</a></div>
            <div class="logout"><a href="/logout">Logout</a></div>
            <div class="profile"><a href="/profile">Profile</a></div>
        </div>
    </div>

    <!-- LAYOUT -->
    <div class="layout">

        <!-- SIDEBAR -->
        <div class="sidebar">

            <div class="top">
                <div class="home" id="sidebar-home">Home</div>
                <!-- <div class="home" ><button onsubmit="return ">Home</button></div> -->
                <div class="favorite" id="sidebar-favorite">Favorite</div>
                <div class="profile" id="sidebar-profile">Profile</div>
                {% if user.user_type == 's' %}
                <div class="my_product" id="sidebar-myproduct">My Product</div>
                {% endif %}
                {% if user.user_type == 'admin' %}
                <div class="admin" id="sidebar-dashboard">admin dashboard</div>
                {% endif %}
                <div class="filter" id="sidebar-filter">Filter</div>
            </div>
            <div class="logout" id="sidebar-logout">Logout</div>
        </div>

        <!-- MAIN -->
        <div class="main">

            {% if user %}
            <p>user id is : {{ user.id }}</p>
            <p>user name is : {{ user.username }}</p>
            <p>user type is : {{ user.user_type }}</p>
            <p>user email is : {{ user.email }}</p>
            <p>user password is : {{ user.password }}</p>
            {% endif %}

            <div>
                <a href="/updateuser">update your details</a>
            </div>
            <div>
                <a href="/resetpassword">Reset password</a>
            </div>


            <br><br><br>
            <h2>My Orders</h2>

            <table border="1" cellpadding="8">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Product Name</th>
                        <th>Purchase Price</th>
                        <th>Current Price</th>
                        <th>Seller_id</th>
                        <th>Category</th>
                        <th>Gender</th>
                        <th>Stock</th>
                        <th>Quantity Bought</th>
                        <th>Image</th>
                        <th>Buy Again</th>
                    </tr>
                </thead>

                <tbody id="orders-table-body">
                    {% for order in orders %}
                    <tr data-product-id="{{ order.product_id }}">
                        <td>{{ order.id }}</td>

                        <!-- <td>
                            {% if order.product %}
                                {{ order.product.product_name }}
                            {% else %}
                            <span style="color:red;">Product deleted</span>
                            {% endif %}
                        </td> -->
                        <td class="product-name">{{ order.product_name }}</td>
                        
                        
                        <td>₹ {{ order.purchase_price }}</td>
                        
                        <td class="current-price">
                            {% if order.product %}
                                {{ order.product.product_price }}
                            {% else %}
                            <span style="color:red;">Product deleted</span>
                            {% endif %}
                        </td>
                        <!-- <td>₹ {{ order.product.product_price }}</td> -->
                        
                        <!-- <td>
                            {% if order.product %}
                                {{ order.product.seller_id }}
                            {% else %}
                            <span style="color:red;">Product deleted</span>
                            {% endif %}
                        </td> -->
                        <td>{{ order.seller_id }}</td>
                        
                        <!-- <td>
                            {% if order.product %}
                                {{ order.product.product_category }}
                            {% else %}
                            <span style="color:red;">Product deleted</span>
                            {% endif %}
                        </td> -->
                        <td>{{ order.product_category }}</td>
                        
                        <!-- <td>
                            {% if order.product %}
                            {{ order.product.product_gender }}
                            {% else %}
                            <span style="color:red;">Product deleted</span>
                            {% endif %}
                        </td> -->
                        <td>{{ order.product_gender }}</td>
                        
                        <td class="stock">
                            {% if order.product %}
                                {% if order.product.product_stock > 0 %}
                                    {{ order.product.product_stock }}
                                {% else %}
                                    <span style="color:red;">Out of stock</span>
                                {% endif %}
                            {% else %}
                                <span style="color:red;">Product deleted</span>
                            {% endif %}
                        </td>

                        <td>{{ order.quantity }}</td>

                        <td class="image">
                            {% if order.product %}
                            <img src="{{ url_for('static', filename='uploads/' ~ order.product.product_image) }}"
                                width="60" height="60">
                            {% else %}
                            N/A
                            {% endif %}
                        </td>


                        <td class="buy-again">
                            {% if order.product
                            and order.product.status == 'active'
                            and order.product.product_stock > 0 %}
                            <a href="{{ url_for('payment.buyButton', product_id=order.product.id) }}">
                                Buy Again
                            </a>
                            {% else %}
                            <span style="color:gray;">Unavailable</span>
                            {% endif %}
                        </td>

                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">No purchases yet</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
    </div>


    <script>
        const homebtn = document.getElementById('sidebar-home')
        homebtn.addEventListener('click', () => {
            window.location.href = '/home';
        });

        const favoritebtn = document.getElementById('sidebar-favorite');
        favoritebtn.addEventListener('click', () => {
            window.location.href = '/favorite';
        });

        const profilebtn = document.getElementById('sidebar-profile');
        profilebtn.addEventListener('click', () => {
            window.location.href = '/profile';
        })

        const logoutbtn = document.getElementById('sidebar-logout');
        logoutbtn.addEventListener('click', () => {
            window.location.href = '/logout'
        })


        const myproductbtn = document.getElementById('sidebar-myproduct');
        if (myproductbtn) {
            myproductbtn.addEventListener('click', () => {
                window.location.href = '/myproduct'
            })
        }

        const admindashboardbtn = document.getElementById('sidebar-dashboard');
        if (admindashboardbtn) {
            admindashboardbtn.addEventListener('click', () => {
                window.location.href = '/admin'
            })
        }

        const searchbar = document.getElementById('searchbar');
        searchbar.addEventListener('click', () => {
            window.location.href = '/search'
        })

        const filter = document.getElementById('sidebar-filter');
        filter.addEventListener('click', () => {
            window.location.href = '/filter'
        })

    </script>

</body>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        const socket = io();


        socket.on("order_created", function (order) {
            console.log("order place :", order);

            const tbody = document.getElementById("orders-table-body");
            if (!tbody) {
                console.error("orders-table-body not found");
                return;
            }

            const product = order.product;

            // Stock display
            let stockHtml = product.stock > 0
                ? product.stock
                : `<span style="color:red;">Out of stock</span>`;

            // Buy again logic
            let buyAgainHtml =
                product.stock > 0
                    ? `<a href="/buy/${product.id}">Buy Again</a>`
                    : `<span style="color:gray;">Unavailable</span>`;

            const row = document.createElement("tr");

            row.innerHTML = `
                <td>${order.order_id}</td>
                <td>${product.name}</td>
                <td>₹ ${order.purchase_price}</td>
                <td>₹ ${product.current_price}</td>
                <td>${product.seller_id}</td>
                <td>${product.category}</td>
                <td>${product.gender}</td>
                <td>${stockHtml}</td>
                <td>${order.quantity}</td>
                <td>
                    <img src="/static/uploads/${product.image}" width="60" height="60">
                </td>
                <td>${buyAgainHtml}</td>
            `;
            // Add new order on top
            tbody.prepend(row);
        })

        socket.on("product_deleted", function (data) {
            console.log("Product deleted:", data.id);

            // Find all orders related to this product
            const rows = document.querySelectorAll(
                `tr[data-product-id="${data.id}"]`
            );

            rows.forEach(row => {
                // Product name
                const nameCell = row.querySelector(".product-name");
                if (nameCell) {
                    nameCell.innerHTML = `<span style="color:red;">Product deleted</span>`;
                }

                // Current price
                const priceCell = row.querySelector(".current-price");
                if (priceCell) {
                    priceCell.innerHTML = `<span style="color:red;">N/A</span>`;
                }

                // Stock
                const stockCell = row.querySelector(".stock");
                if (stockCell) {
                    stockCell.innerHTML = `<span style="color:red;">N/A</span>`;
                }

                // Image
                const imageCell = row.querySelector(".image");
                if (imageCell) {
                    imageCell.innerHTML = `N/A`;
                }

                // Buy again
                const buyAgainCell = row.querySelector(".buy-again");
                if (buyAgainCell) {
                    buyAgainCell.innerHTML = `<span style="color:gray;">Unavailable</span>`;
                }
            });
        });

    });
</script>

</html>