<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resetpassword</title>
</head>
<body>
    
    <form method="post" enctype="multipart/form-data">
        {{  form.hidden_tag()  }}

        {{  form.password.label  }}
        {{  form.password  }}
        <br> <br> <br>

        {{  form.new_password.label  }}
        {{  form.new_password  }}
        <br> <br> 

        {{  form.submit  }}

    </form>
</body>
</html>